.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.346);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .modalBackground {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .alert {
    margin: 0 auto;
    background-color: rgb(247, 236, 236);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 12px;
    font-family: monospace;
    aspect-ratio: 1 / 0.4;
    min-height: 100px;
    .feedback {
      font-size: 30px;
      margin-bottom: 10px;
    }
    .xBtn {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20px;
      cursor: pointer;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 20px;
      margin-top: 10px;
      button {
        min-width: 100px;
        display: inline;
        border-radius: 12px;
        background-color: rgb(168, 38, 168);
        color: white;
        font-family: monospace;
        padding: 10px 20px;
        cursor: pointer;
        border: 0;
        box-shadow: 1px 1px 2px black;
      }
      .button--cancel {
        background-color: rgb(189, 50, 50);
      }
      button:hover {
        box-shadow: 2px 2px 3px black;
      }
    }
  }
}
